{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Select Item Type to Add</h2>
  </div>

  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="id_category" class="form-label">Category</label>
      <select name="category" id="id_category" class="form-select">
        {% for value,label in CategoryChoices %}
          <option value="{{ value }}">{{ label }}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Next</button>
  </form>
</div>
{% endblock %}
