{% extends "base.html" %}

{% block content %}
  <h2>Select Item Type to Add</h2>

  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="id_category" class="form-label">Category</label>
      <select name="category" id="id_category" class="form-select">
        {% for value,label in CategoryChoices %}
          <option value="{{ value }}">{{ label }}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Next</button>
  </form>

{% endblock %}
