{% extends "base.html" %}
{% load static %}
{% load borrow_extras %}

{% block title %}{{ object.title }} | HooBorrow{% endblock %}
{% block content %}
<div class="container my-4">
    <h2>{{ object.title }}</h2>
    <p>{{ object.description }}</p>
    <p>
        Created by: {{ object.creator.name }} 
        {% if object.created_at %}
            on {{ object.created_at|date:"F d, Y" }} at {{ object.created_at|time:"H:i" }}
        {% endif %}</small>
    </p>
    
    {% if object.is_collection_private and request.user.patron != object.creator and request.user.patron not in object.allowed_users.all and not request.user.is_librarian %}
        <p class="alert alert-warning">You do not have permission to view items in this private collection.</p>
    {% endif %}
    
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for item in visible_items %}
            <div class="col">
                <div class="card h-100">
                    {% if item.photo %}
                        <img src="{{ item.photo.url }}" class="card-img-top" alt="{{ item.name }}" style="object-fit: cover; height: 150px;">
                    {% else %}
                        <img src="{% static 'borrow/default.jpg' %}" class="card-img-top" alt="{{ item.name }}" style="object-fit: cover; height: 150px;">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ item.name }}</h5>
                        <p class="card-text">Quantity: {{ item.quantity }}</p>
                        <p class="card-text">Location: {{ item.location }}</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{% url 'borrow:detail' item.id %}" class="btn btn-primary btn-sm">View Details</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p class="lead">No items in this collection.</p>
        {% endfor %}
    </div>
    {% if object.is_collection_private and not object|can_view:request.user %}
        <div>
            <a href="{% url 'borrow:request_collection' object.id %}" class="btn btn-primary btn-sm">Request to Join</a>
        </div>
    {% endif %}
</div>
{% endblock %}
