{% extends 'base.html' %}

{% block title %}My Collections | HooBorrow{% endblock %}
{% block content %}
<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2>My Collections</h2>
    <a href="{% url 'borrow:create_collection' %}" class="btn btn-success">Create New Collection</a>
  </div>
  <ul class="list-group">
    {% for collection in collections %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div>
          <strong>{{ collection.title }}</strong>: {{ collection.description }}
          {% if collection.is_collection_private %}
            <span class="badge bg-warning text-dark">Private</span>
          {% else %}
            <span class="badge bg-success">Public</span>
          {% endif %}
        </div>
        <div>
          <a href="{% url 'borrow:edit_collection' collection.pk %}" class="btn btn-sm btn-outline-secondary">Edit</a>
          <a href="{% url 'borrow:delete_collection' collection.pk %}" class="btn btn-sm btn-outline-danger">Delete</a>
          <a href="{% url 'borrow:collection_detail' collection.pk %}" class="btn btn-sm btn-outline-primary">View</a>
        </div>
      </li>
      {% empty %}
      <p class="lead">You don't have collections yet.</p>
    {% endfor %}
  </ul>
</div>
{% endblock %}
