{% extends "base.html" %}
{% load static %}
{% block title %}Polls | HooBorrow{% endblock %}
{% block content %}
<div class="my-4">
    {% if latest_question_list %}
        <ul class="list-group">
        {% for question in latest_question_list %}
            <li class="list-group-item">
                <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p class="lead">No polls are available.</p>
    {% endif %}
    <p class="mt-3">
        <a class="btn btn-success" href="{% url 'polls:add' %}">Add Poll</a>
    </p>
</div>
{% endblock %}
